<%- include('includes/head.ejs') %>
</head>

<body>
    <div class="container">
        <div class="front-page">
            <header class="main-header">
                <nav class="main-header__nav">
                    <ul class="main-header__item-list">
                        <li class="main-header__item"><a class="active" href="/">Signup</a></li>
                        <li class="main-header__item"><a href="/users">Community</a></li>
                    </ul>
                </nav>
            </header>
            <main>
                <svg id="simplicity" width="845" height="101" viewBox="0 0 845 101" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <mask id="path-1-outside-1_2_5" maskUnits="userSpaceOnUse" x="-0.0639954" y="0.839996" width="845"
                        height="100" fill="black">
                        <rect fill="white" x="-0.0639954" y="0.839996" width="845" height="100" />
                        <path class="image-path"
                            d="M56.784 27.456C55.152 18.624 48.672 14.208 37.344 14.208C31.296 14.208 26.64 15.552 23.376 18.24C20.112 20.832 18.48 24 18.48 27.744C18.48 31.392 19.488 34.176 21.504 36.096C23.52 38.016 26.784 39.696 31.296 41.136L50.16 47.616C56.592 49.824 61.68 52.848 65.424 56.688C69.264 60.528 71.184 65.952 71.184 72.96C71.184 79.872 68.208 85.728 62.256 90.528C56.304 95.232 48.336 97.584 38.352 97.584C28.368 97.584 20.16 95.088 13.728 90.096C7.392 85.008 4.128 77.904 3.936 68.784H15.024C15.024 74.736 17.088 79.296 21.216 82.464C25.44 85.632 30.816 87.216 37.344 87.216C43.968 87.216 49.2 85.776 53.04 82.896C56.88 79.92 58.8 76.464 58.8 72.528C58.8 68.496 57.6 65.328 55.2 63.024C52.896 60.72 49.44 58.8 44.832 57.264L28.848 51.36C21.36 48.864 15.696 45.888 11.856 42.432C8.016 38.976 6.096 33.936 6.096 27.312C6.096 20.592 8.784 15.024 14.16 10.608C19.536 6.096 27.072 3.84 36.768 3.84C46.464 3.84 53.856 6 58.944 10.32C64.128 14.544 67.104 20.256 67.872 27.456H56.784Z" />
                        <path class="image-path" d="M110.132 5.424H121.508V96H110.132V5.424Z" />
                        <path class="image-path"
                            d="M181.163 5.424L211.691 66.768L241.931 5.424H257.915V96H246.539V21.552L215.435 84.624H207.803L176.267 20.544V96H164.891V5.424H181.163Z" />
                        <path class="image-path"
                            d="M330.297 5.424C340.281 5.424 347.865 7.968 353.049 13.056C358.329 18.048 360.969 24.816 360.969 33.36C360.969 41.904 358.329 48.672 353.049 53.664C347.865 58.56 340.281 61.008 330.297 61.008H312.441V96H301.065V5.424H330.297ZM330.297 51.216C336.537 51.216 341.241 49.632 344.409 46.464C347.673 43.296 349.305 38.976 349.305 33.504C349.305 27.936 347.673 23.52 344.409 20.256C341.241 16.896 336.537 15.216 330.297 15.216H312.441V51.216H330.297Z" />
                        <path class="image-path" d="M406.864 86.064H447.184V96H395.488V5.424H406.864V86.064Z" />
                        <path class="image-path" d="M477.247 5.424H488.623V96H477.247V5.424Z" />
                        <path class="image-path"
                            d="M563.399 3.84C573.095 3.84 580.871 6.288 586.727 11.184C592.679 15.984 596.759 22.272 598.967 30.048L586.727 32.496C584.807 26.832 581.783 22.368 577.655 19.104C573.623 15.744 568.871 14.064 563.399 14.064C555.815 14.064 549.527 17.232 544.535 23.568C539.543 29.904 537.047 38.736 537.047 50.064C537.047 61.296 539.255 70.32 543.671 77.136C548.183 83.952 554.759 87.36 563.399 87.36C570.599 87.36 576.263 85.488 580.391 81.744C584.615 77.904 586.727 72.864 586.727 66.624H598.967C598.967 76.128 595.703 83.664 589.175 89.232C582.743 94.8 573.863 97.584 562.535 97.584C551.303 97.584 542.183 93.264 535.175 84.624C528.263 75.984 524.807 64.416 524.807 49.92C524.807 35.424 528.407 24.144 535.607 16.08C542.807 7.92 552.071 3.84 563.399 3.84Z" />
                        <path class="image-path" d="M634.719 5.424H646.095V96H634.719V5.424Z" />
                        <path class="image-path"
                            d="M675.798 5.424H746.214V15.216H716.694V96H705.318V15.216H675.798V5.424Z" />
                        <path class="image-path"
                            d="M776.451 5.424L800.787 47.04L825.699 5.424H839.091L806.547 58.848V96H795.027V58.848L762.915 5.424H776.451Z" />
                    </mask>
                    <path class="image-path"
                        d="M56.784 27.456C55.152 18.624 48.672 14.208 37.344 14.208C31.296 14.208 26.64 15.552 23.376 18.24C20.112 20.832 18.48 24 18.48 27.744C18.48 31.392 19.488 34.176 21.504 36.096C23.52 38.016 26.784 39.696 31.296 41.136L50.16 47.616C56.592 49.824 61.68 52.848 65.424 56.688C69.264 60.528 71.184 65.952 71.184 72.96C71.184 79.872 68.208 85.728 62.256 90.528C56.304 95.232 48.336 97.584 38.352 97.584C28.368 97.584 20.16 95.088 13.728 90.096C7.392 85.008 4.128 77.904 3.936 68.784H15.024C15.024 74.736 17.088 79.296 21.216 82.464C25.44 85.632 30.816 87.216 37.344 87.216C43.968 87.216 49.2 85.776 53.04 82.896C56.88 79.92 58.8 76.464 58.8 72.528C58.8 68.496 57.6 65.328 55.2 63.024C52.896 60.72 49.44 58.8 44.832 57.264L28.848 51.36C21.36 48.864 15.696 45.888 11.856 42.432C8.016 38.976 6.096 33.936 6.096 27.312C6.096 20.592 8.784 15.024 14.16 10.608C19.536 6.096 27.072 3.84 36.768 3.84C46.464 3.84 53.856 6 58.944 10.32C64.128 14.544 67.104 20.256 67.872 27.456H56.784Z"
                        stroke="white" stroke-width="6" mask="url(#path-1-outside-1_2_5)" />
                    <path class="image-path" d="M110.132 5.424H121.508V96H110.132V5.424Z" stroke="white"
                        stroke-width="6" mask="url(#path-1-outside-1_2_5)" />
                    <path class="image-path"
                        d="M181.163 5.424L211.691 66.768L241.931 5.424H257.915V96H246.539V21.552L215.435 84.624H207.803L176.267 20.544V96H164.891V5.424H181.163Z"
                        stroke="white" stroke-width="6" mask="url(#path-1-outside-1_2_5)" />
                    <path class="image-path"
                        d="M330.297 5.424C340.281 5.424 347.865 7.968 353.049 13.056C358.329 18.048 360.969 24.816 360.969 33.36C360.969 41.904 358.329 48.672 353.049 53.664C347.865 58.56 340.281 61.008 330.297 61.008H312.441V96H301.065V5.424H330.297ZM330.297 51.216C336.537 51.216 341.241 49.632 344.409 46.464C347.673 43.296 349.305 38.976 349.305 33.504C349.305 27.936 347.673 23.52 344.409 20.256C341.241 16.896 336.537 15.216 330.297 15.216H312.441V51.216H330.297Z"
                        stroke="white" stroke-width="6" mask="url(#path-1-outside-1_2_5)" />
                    <path class="image-path" d="M406.864 86.064H447.184V96H395.488V5.424H406.864V86.064Z" stroke="white"
                        stroke-width="6" mask="url(#path-1-outside-1_2_5)" />
                    <path class="image-path" d="M477.247 5.424H488.623V96H477.247V5.424Z" stroke="white"
                        stroke-width="6" mask="url(#path-1-outside-1_2_5)" />
                    <path class="image-path"
                        d="M563.399 3.84C573.095 3.84 580.871 6.288 586.727 11.184C592.679 15.984 596.759 22.272 598.967 30.048L586.727 32.496C584.807 26.832 581.783 22.368 577.655 19.104C573.623 15.744 568.871 14.064 563.399 14.064C555.815 14.064 549.527 17.232 544.535 23.568C539.543 29.904 537.047 38.736 537.047 50.064C537.047 61.296 539.255 70.32 543.671 77.136C548.183 83.952 554.759 87.36 563.399 87.36C570.599 87.36 576.263 85.488 580.391 81.744C584.615 77.904 586.727 72.864 586.727 66.624H598.967C598.967 76.128 595.703 83.664 589.175 89.232C582.743 94.8 573.863 97.584 562.535 97.584C551.303 97.584 542.183 93.264 535.175 84.624C528.263 75.984 524.807 64.416 524.807 49.92C524.807 35.424 528.407 24.144 535.607 16.08C542.807 7.92 552.071 3.84 563.399 3.84Z"
                        stroke="white" stroke-width="6" mask="url(#path-1-outside-1_2_5)" />
                    <path class="image-path" d="M634.719 5.424H646.095V96H634.719V5.424Z" stroke="white"
                        stroke-width="6" mask="url(#path-1-outside-1_2_5)" />
                    <path class="image-path" d="M675.798 5.424H746.214V15.216H716.694V96H705.318V15.216H675.798V5.424Z"
                        stroke="white" stroke-width="6" mask="url(#path-1-outside-1_2_5)" />
                    <path class="image-path"
                        d="M776.451 5.424L800.787 47.04L825.699 5.424H839.091L806.547 58.848V96H795.027V58.848L762.915 5.424H776.451Z"
                        stroke="white" stroke-width="6" mask="url(#path-1-outside-1_2_5)" />
                </svg>
        </div>
        <div class="page-2">
            <div class="signup-form-container">
                <h2>Join Our Community</h2>
                <p>We are a community dedicated to simplifying our lives. Simplicity leads to more time to focus on what really matters.</p>
                <form class="signup-form" action="/add-user" method="POST">
                    <div class="form-control">
                        <input type=text name="username" id="username" placeholder="Your Name">
                    </div>
                    <button type="submit">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
    </main>
    <script src="/simplicity.js"></script>
    <%- include('includes/end.ejs') %>