<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel=stylesheet href="/main.css">
    <title>Users</title>
</head>
<body>
    <h1>Octopus Friend Users</h1>
    <ul>
        <li>Misses Puff</li>
        <li>Seaweed Drake</li>
        <li>Long John Silver</li>
    </ul>
    <h2>Octopus Friends</h2>
    <img src="/images/octopus2.png" alt="my friend the octopus">
    <p>John loves coming up to the beach to play with his friends.
        We love seeing him and trying to get him back to the safety
        of the ocean... over and over again.
    </p>
    <img src="/images/octopus3.png" alt="my other friend the octopus">
    <p>Samantha loves to show off under her heat lamp.</p>
    
</body>
</html>