@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
  }
h2{
  font-size: 2em;
}
p, label, input, button{
  font-size: 1.2em;
}
  .front-page {
    position: relative;
    background-color: #688354;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
  }
  
  #simplicity {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  
  .image-path {
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  
    .animated & {
      opacity: 1;
      animation-name: line;
    }
  }
  
  
  @keyframes line{
    to{
      stroke-dashoffset: 0;
    }
  }

  //navigation
  .main-header {
    width: 100%;
    height: 3.5rem;
    padding: 0 1.5rem;
  }
  .main-header__nav{
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .main-header__item-list{
      padding: 0;
      margin: 0;
      display: flex;
      list-style: none;
  }
  .main-header__item{
      margin: 0 1.5rem;
      padding: 0;
      font-size: 1.2em;
  }
  .main-header__item a{
      text-decoration: none;
      color: white;
  }
  .main-header__item a:hover,
  .main-header__item a:active,
  .main-header__item a.active{
      color:rgb(23, 24, 24)
  }

  .signup-form-container{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    padding: 2em;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    line-height: 1.2;
  }

  //page 2
  .page-2 {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
    background-image: url(../images/transparent-plant.png);
    background-repeat: no-repeat;
    background-position: right;
  }

  //Scroll effect
  .container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
  }

  //form
  form input, form button{
    width: 100%;
  }

  form input{
    padding: 0.2em 0;
    margin: 1em 0;
  }
  button{
    padding: .8em 0;
    background-color: #688354;
    border-radius: 3px;
    border: none;
  }
  button:hover{
    cursor: pointer;
    transform: scale(1.1);
  }

  .main-header-community{
    background-color: #688354;
  }

  //community page
  .community-page{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .community-page li{
    font-size: 1.6em;
    list-style: none;
  }